body
{
    margin: 0px;
}
.container
{
    width:70%;
    height: 620px;
    margin: auto;
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}
input
{
    width:30%;
    height:40px;
    border: 2px solid black;
    margin: auto;
    margin-bottom: 5%;
    display: flex;
    font-size: 18px;
    
}
.styleh1
{
color:crimson ;
text-align: center;
}
button
{
width: 20%;
height: 50px;
margin-left: 40%;
color:white;
background-color:crimson ;
border: transparent;
font-weight: 700;
font-size: 20px;
}
.margtop
{
    width: 20%;
    font-size:18px;
    color:white;
    margin-top: 2%;
    background-color: black;
    /* margin-left: 4%; */
}